header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/header/Mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.header-icons {
    display: flex;
    margin: 2rem;
}
