nav {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 1px solid black;
    margin: 2rem 0;
}

.link {
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-size: 1.1rem;

}

