.sidebar-right {
    /* background-color: yellow; */
    width: 20%;
    padding: 3rem;
    border-left: 1px solid black;
    margin: 2rem 0;


}

.img-placeholder {

    padding: 3rem;
    background-image: url("../assets/Calendar.jpg");
height: 15rem;
    background-repeat: no-repeat;
    background-position: center;

    background-size: contain;
}
